h1{
  font-size: 2em;
  font-family: lato, sans-serif;
  color:black;
  text-align: justify;
  text-decoration:underline;
  background-color: red;

}


.responsive{
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 30%;
  justify-content: center;
  align-content: space-between;
}
.r1{
  padding-right: 15px;
}
.r3{
    padding-left:15px;
    padding-right:15px;

}

h3{
    font-size: 1.1em;
    color:red;

  }
ul li{
  color:blue;
  list-style: square;

}


p{
  color: red;
  font-style:normal;


}
legend{
  color: blue;
}
label{
  color:blue;
  font-size: 1em;
}
fieldset{

border-style: solid;
border-color: black;

}

body{
  background-color: gray;
 }


@media only screen and (min-width:501px) and (max-width:960px){
  body{
    background-color: green;
  }
}

@media only screen and (min-width:961px) and (max-width:1200px){
  body{
    background-color: yellow;
  }

}
